@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    @apply bg-primary text-primary
  }
  
  .rounded-div {
    @apply border border-secondary rounded-2xl shadow-xl bg-primary px-2 max-w-[1140px] w-full mx-auto
  }
  
  
  @layer base {
    button {
        @apply text-orange-400 border text-lg bg-white border-white hover:bg-transparent hover:text-white rounded-md
    }
} 

.headerOffset {
  width: 100%;
  height: 80px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  grid-template-rows: repeat(auto-fill, 290px);
  grid-row-gap: 28px;
  grid-column-gap: 24px;
  justify-content: center;

}

/* Login Card */

.body-prime {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-base {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0 36px;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
  
}

.container {
 display: flex;
 max-width: 1024px;
 
}

.card-container {
  max-width: 378px;
  width: 100%;
  min-width: 378px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  
}

.input-w {
  min-width: fit-content;
}

.search-bar-drop {
  margin-top: 20px;
  align-self: center;
  width: 100%;
}

.header-link {
  padding: 0 32px;
}

/* Form */

.body-base-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 36px;
  height: 100%;
  overflow: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 8px;
  padding: 0 0 20px 0;
  max-width: 828px;
}

.form-header {
  padding: 8px;
}

.form-header h1 {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.form-main {
  display: flex;
  place-self: start;
  width:100%;
  padding: 20px;
}

.form-actual {
  display: flex;
  width: 100%;
}

.form-content-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 12px;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.name-div {
  display: flex;
  padding: 8px;
  margin: 4px 0;
  width: 329px;
  height: 98px;
}

.name-div-damaged {
  display: flex;
  padding: 8px;
  margin: 4px 0;
  width: 329px;
  height: 98px;
}

.form-name-label-div {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-right: 4px;
  width: 100%;
  background-color: #f2f4f8;
}

.form-name-label {
  font-size: 22px;
  font-weight: 600;
  color: #ff943c;
  padding-bottom: 4px;
  width: 80%;
}

.form-name-input {
  padding: 4px;
  outline: none;
}

.form-name-input-image {
  padding: 2px;
  outline: none;
  color: #ff943c;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
}

.form-name-input-image::-webkit-file-upload-button {
  background-color: #ff943c ;
  color: white;
  border: 0;
  font-size: 18px;
  margin-right: 20px;
}

.form-name-input-image::-webkit-file-upload-button:hover {
  background-color: white;
  color: #ff943c;
}

.form-button-div {
  display: flex;
  justify-content: space-evenly;
}

.form-button {
  color: white;
  background-color: #ff943c;
  width: 100%;
  margin: 2px;
}

.form-button-inactive {
  color:black;
  background-color: white;
  border: none;
  width: 100%;
  margin: 2px;
}

.form-button:hover {
  color: white;
  background-color: #ff943c;
}

.form-button-inactive:hover {
  color: #ff943c;
  background-color: white;
  border: 1px solid #ff943c;
  width: 100%;
  margin: 2px; 
}

.form-submit-button {
  background-color: #ff943c;
  color: white;
  width: 80%;
  height: 60px;
  margin-top: 30px;
  grid-column: span 2;
  font-weight: 700;
  font-size: 26px;
  padding: 4px 1px;
}

.form-submit-button:hover {
  background-color: white;
  color: #ff943c;
  border: 2px solid #ff943c;
}

.form-size-select {
  height: 32px;
  outline: none;
  border-radius: 6px;
}

/* Filter */
.filter-container {
  display: flex;
  height: auto;
  width: 100%;
  padding: 4px;
  justify-content: center;
  margin-top: 8px;
}

.filter-container input {
  margin-right: 3px;
}

.filter-body {
  display: flex;
  padding: 8px;
  flex-direction: column;  
  height: fit-content;
  width: fit-content;
  max-width: 1200px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.filter-menu-click {
  align-self: center;
  padding: 4px; 
}

.filter-menu-click:hover {
  cursor: pointer;
}

.filter-body h1 {
  padding: 4px;
  font-size: 26px;
}

.filter-title-div {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}

.filter-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  height: auto
}

.filter-div h1 {
  font-size: 24px;
}

.filter-sets-title-div {
  padding: 4px;
}

.filter-sets-title {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  background-color: #ff943c;
  border-radius: 4px;
}

.filter-sets-title h1 {
 color: #f2f4f8;
 font-weight: 500;
 padding: 2px;
}

.filter-sets-div {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2px;
  align-content: flex-start;
  padding: 4px;
}

.filter-button {
  background-color: #ff943c;
  color: #f2f4f8;
}

.filter-button:hover {
  background-color: #ff943c;
  color: #f2f4f8;
}

/* mini info page */

.miniInfo-page-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
  height: 100%;
  padding: 16px;
  justify-content: center;
}

.miniInfo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.miniInfo-title {
  align-self: center;
  font-size: 28px;
  padding: 4px;
  margin-bottom: 20px;
  background-color: #ff943c;
  color: #f2f4f8;
}

.miniInfo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: 85%;
  padding: 8px;
  align-self: center;
  border-radius: 4px;
}

.miniInfo-container {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.miniInfo-info-div {
  padding: 2px;
}

.miniInfo-image-div {
  margin: 12px
}

.miniInfo-image {
  width: max-content;
}


/* Spinner */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}


/* Media Queries */

@media only screen and (max-width: 1050px) {
  .header-link {
    padding: 0 16px;
  }

  .filter-sets-div {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 909px) {
  .admin-button-nav-hidden {
    display: none;
  }
}

@media only screen and (max-width: 792px) {
  .form-content-grid {
    grid-template-columns: 1fr;
  }

  .form-submit-button {
    grid-column: span 1;
  }

  .name-div {
    justify-self: center;
  }
}

@media only screen and (max-width: 719px) {
  .container {
    max-width: 378px;
    width: 100%;
    border-radius: 6px;
  }

  .card-container {
    border-radius: 6px;
  }

  .body-base {
    width:100vw;
    height: 100%;
  }
}

@media only screen and (max-width:465px) {
  .card-container {
    padding: 40px 14px;
    min-width:unset;
  }

  .input-w {
    min-width: unset;
  }

  .search-bar-large {
    display:none;
  }

  .name-div {
    width: auto;
    
  }

  .form-content-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

  }

  .form-submit-button {
    font-size: 20px;
  }

  .name-div-damaged {
    justify-content: left;
  }
}

